@page "/"
<PageTitle>About Me</PageTitle>

<div class="centeringCol">
    <MudAvatar Image="images/selfie.png" Style="height:20vw; width:20vw; font-size:2rem;" Class="mx-auto" />
</div>
<div class="centeringCol">
    <MudText Typo="Typo.h3" GutterBottom="false">Marc Frankfurter</MudText>
    <MudText Typo="Typo.h5" GutterBottom="false">Mobile & Web Frontend Developer from Germany 🇩🇪</MudText>
</div>
<div class="centeringRow" alt="Socials">
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" aria-label="github"></MudIconButton>
    <MudIconButton Icon="@Icons.Custom.Brands.Steam" aria-label="github"></MudIconButton>
    <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" aria-label="github"></MudIconButton>
    <MudIconButton Icon="@Icons.Custom.Brands.Instagram" aria-label="github"></MudIconButton>
    <MudIconButton Icon="@Icons.Custom.Brands.Reddit" aria-label="github"></MudIconButton>
    <MudIconButton Icon="@Icons.Custom.Brands.YouTube" aria-label="github"></MudIconButton>
</div>
<MudContainer Fixed="true" class="mt-4">
    <img style="width: 100%;" src="http://ghchart.rshah.org/5B4AE2/FranktheFurter" alt="My Github chart">
</MudContainer>


<MudDivider DividerType="DividerType.Middle" Class="my-6" />
<style>
    .centeringCol {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .centeringRow {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
</style>