<PageTitle>About Me</PageTitle>
<div class="about-me">
    <MudStack Justify="Justify.Center" Spacing="2">
        <MudAvatar Image="images/selfie.png" Class="mx-auto mt-16" Style="height:20vw; width:20vw; font-size:2rem;" />
        <MudText Typo="Typo.h3" GutterBottom="false" Class="px-10 ">
            Marc Frankfurter
        </MudText>
        <MudText Typo="Typo.h5" GutterBottom="false" Class="mb-16 px-10">
            Mobile & Web Frontend Developer from Germany 🇩🇪
        </MudText>
        <MudStack Row="true" Justify="Justify.Center">
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.GitHub" aria-label="github">
            </MudIconButton>
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Steam" aria-label="Steam">
            </MudIconButton>
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.LinkedIn" aria-label="LinkedIn">
            </MudIconButton>
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Instagram" aria-label="Instagramm">
            </MudIconButton>
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Reddit" aria-label="Reddit">
            </MudIconButton>
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.YouTube" aria-label="YouTube">
            </MudIconButton>
            <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Brands.Discord" aria-label="Discord">

            </MudIconButton>
        </MudStack>
    </MudStack>
</div>

<style>
    .about-me {}
</style>